@import 'tailwindcss';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Playpen Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(231deg, #75bbff 27.94%, #48a5ff 57.81%, #328be0 87.1%);
  color: whitesmoke;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --graphite-fog: #151718cc;
  --dark-gray: #02070a;
  --input-bg: #111111;
  --text-muted: #5e5e5e;
  --medium-gray: #747474;
  --turquoise-green: #00d6af;
  --green-mint: #39ffb8;
  --neon-lavender: #5e59ea;
  --dark-gray: #02070a;
  --green-gradient: linear-gradient(231.09deg, var(--turquoise-green) 27.94%, var(--green-mint) 57.81%, #46ff90 87.1%);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.artcile-title-hover:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--green-gradient);
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  background: var(--turquoise-green);
  animation:
    l7-1 1s infinite alternate,
    l7-2 2s infinite alternate;
}
@keyframes l7-1 {
  0%,
  10% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(0) rotate(1turn);
  }
}
@keyframes l7-2 {
  0%,
  49.99% {
    background: var(--neon-lavender);
  }
  50%,
  100% {
    background: var(--green-mint);
  }
}

.btn-primary {
  @apply flex justify-center items-center gap-2.5 py-[13px] px-5 2xl:px-[25px] 2xl:py-[15px] rounded-[14px] text-[#154136] text-[14px] leading-[22px] lg:text-[16px] lg:leading-6 2xl:text-[18px] font-semibold cursor-pointer transition-shadow duration-300;
  background: var(--green-gradient);
}

.btn-primary:hover {
  transition: all 0.1s ease;
  background: var(--green-gradient);
  box-shadow: 0px 8px 40px 0px rgba(53, 252, 183, 0.64);
  cursor: pointer;
}

input,
textarea {
  border-radius: 14px;
  outline: 1px solid var(--text-muted);
  background: var(--dark-gray);
  display: flex;
  padding: 15px 25px;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 300;
  align-self: stretch;
  font-size: 18px;
  line-height: 24px;
  border: none !important;
}

input::placeholder {
  color: var(--medium-gray);
  font-weight: 300;
}

textarea::placeholder {
  color: var(--medium-gray);
  font-weight: 300;
}

input:focus {
  outline-color: #fff;
}

textarea:focus {
  outline-color: #fff;
}
